<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редактировать карточку</h5>
        <button (click)="Cat.resettempCat()" type="button" class="close" routerLink="/tile"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="image">Вставьте ссылку на картинку: </label>
          <input (input)="Cat.onInput('image', $event)" [(ngModel)]="Cat.tempCat.image" type="text" id="image">
        </div>
        <div *ngIf="Cat.warnings.image" class="warning">Поле должно быть заполено</div>
        <div class="mb-3">
          <label for="name">Имя котика: </label>
          <input (input)="Cat.onInput('name', $event)" [(ngModel)]="Cat.tempCat.name" type="text" id="name">
        </div>
        <div *ngIf="Cat.warnings.name" class="warning">Поле должно быть заполено</div>
        <div class="mb-3">
          <label for="description">Описание котика: </label>
          <input (input)="Cat.onInput('description', $event)" [(ngModel)]="Cat.tempCat.description" type="text" id="description">
        </div>
        <div *ngIf="Cat.warnings.description" class="warning">Поле должно быть заполено</div>
      </div>
      <div class="modal-footer">
        <button (click)="Cat.onUpdate()" type="button" class="btn" routerLink="/tile">Обновить</button>
      </div>
    </div>
  </div>
</div>