<div class="container">
  <div *ngFor="let cat of Cat.objs" class="card">
    <img src="{{ cat.image }}" alt="Cat-photo" class="card__photo">
    <div class="card__inner">
      <p class="card__title">{{ cat.name }}</p>
      <button (click)="Cat.remove(cat.id)" class="delete-btn">Удалить</button>
      <button (click)="Cat.setCurrentCat(cat.id)" [routerLink]="['/maker', cat.id]" class="update-btn" (click)="Cat.toggle = true">Редактировать</button>
      <div (click)="Cat.onLike(cat.id)" class="like-pos">
        <img *ngIf="cat.liked; else liked" class="like" src="http://html.ftpes.ru/FrontEndTest/favorite_full.svg" alt="">
        <ng-template #liked>
          <img class="like" src="http://html.ftpes.ru/FrontEndTest/favorite_border.svg" alt="">
        </ng-template>
      </div>
    </div>
  </div>
</div>
