<div class="gradient"></div>
<div class="title">
  <h1 class="title__text">Библиотека котиков</h1>
</div>

<div class="switcher">
  <a routerLinkActive="active" class="switcher__title" routerLink="/tile">Плитка</a>
  <a routerLinkActive="active" class="switcher__title" routerLink="/table">Таблица</a>
</div>

<router-outlet></router-outlet>

<div class="btn-position">
  <button class="btn" routerLink="/create">Добавить нового котика</button>
</div>

<div class="footer">
  <p class="footer__text">© ExpertSender</p>
</div>